<!DOCTYPE html>
<html>

<head>
    <title>我的博客</title>
    <script type="text/javascript" src="../public/js/jquery-2.1.4.js"></script>
    <script type="text/javascript" src="../public/js/privateblog.js"></script>
    <link rel="stylesheet" type="text/css" href="../public/font/font-awesome-4.3.0/css/font-awesome.css">
    <link rel="stylesheet" type="text/css" href="../public/css/privateblog.css">
</head>

<body>
    <header>
        <div class="logo clear">
            <img src="../public/images/a1.png" class="clear">
            <div class="menulist clear">
                <ul>
                    <li class="active">inbox</li>
                    <li>inbox</li>
                    <li>inbox</li>
                    <li>inbox</li>
                </ul>
                <i class="arrow clear"></i>
            </div>
        </div>
        <div class="user">
            <button>compose</button>
            <i class="microphone"></i>
            <div class="avatar">
                <img src="../public/images/av1.png">
            </div>
        </div>
        <div class="nav">
            <ul class="nav-content">
                <li class="active"><span>message</span></li>
                <li><span>people</span></li>
                <li><span>groups</span></li>
                <li><span>hangouts</span></li>
                <li><span>calendar</span></li>
            </ul>
        </div>
    </header>
    <section class="message clear">
        <div class="query">
            <input type="text" placeholder = "SEARCH FOR MESSAGES" />
            <button><i></i></button>
        </div>
        <div class="messagelist">
            <ul>
                <li class = "active">
                    <div class="avatar one"><i><span style="background:url(../public/images/av1.png) no-repeat;background-size:cover;"></span></i></div>
                    <div class="messagecontent">
                        <p>Better an egg today than a hen tomorrow.</p>
                        <p>Tough times never last, but tough people do.</p>
                    </div>
                    <span class = "hint"></span>
                </li>
                <li class = "unread">
                    <div class="avatar one"><i><span style="background:url(../public/images/av1.png) no-repeat;background-size:cover;"></span></i></div>
                    <div class="messagecontent">
                        <p>Better an egg today than a hen tomorrow.</p>
                        <p>Tough times never last, but tough people do.</p>
                    </div>
                    <span class = "hint"></span>
                </li>
                <li class = "unread">
                    <div class="avatar one"><i><span style="background:url(../public/images/av1.png) no-repeat;background-size:cover;"></span></i></div>
                    <div class="messagecontent">
                        <p>Better an egg today than a hen tomorrow.</p>
                        <p>Tough times never last, but tough people do.</p>
                    </div>
                    <span class = "hint"></span>
                </li>
                <li class = "read">
                    <div class="avatar one"><i><span style="background:url(../public/images/av1.png) no-repeat;background-size:cover;"></span></i></div>
                    <div class="messagecontent">
                        <p>Better an egg today than a hen tomorrow.</p>
                        <p>Tough times never last, but tough people do.</p>
                    </div>
                    <span class = "hint"></span>
                </li>
                <li class = "read">
                    <div class="avatar one"><i><span style="background:url(../public/images/av1.png) no-repeat;background-size:cover;"></span></i></div>
                    <div class="messagecontent">
                        <p>Better an egg today than a hen tomorrow.</p>
                        <p>Tough times never last, but tough people do.</p>
                    </div>
                    <span class = "hint"></span>
                </li>
                <li class = "read">
                    <div class="avatar one"><i><span style="background:url(../public/images/av1.png) no-repeat;background-size:cover;"></span></i></div>
                    <div class="messagecontent">
                        <p>Better an egg today than a hen tomorrow.</p>
                        <p>Tough times never last, but tough people do.</p>
                    </div>
                    <span class = "hint"></span>
                </li>
                <li class = "read">
                    <div class="avatar one"><i><span style="background:url(../public/images/av1.png) no-repeat;background-size:cover;"></span></i></div>
                    <div class="messagecontent">
                        <p>Better an egg today than a hen tomorrow.</p>
                        <p>Tough times never last, but tough people do.</p>
                    </div>
                    <span class = "hint"></span>
                </li>
                <li class = "read">
                    <div class="avatar one"><i><span style="background:url(../public/images/av1.png) no-repeat;background-size:cover;"></span></i></div>
                    <div class="messagecontent">
                        <p>Better an egg today than a hen tomorrow.</p>
                        <p>Tough times never last, but tough people do.</p>
                    </div>
                    <span class = "hint"></span>
                </li>
            </ul>
        </div>
    </section>
    <section class="content clear">
    	<p class = "title">All the bright precious things fade so fast and they don't come back.</p>
    	<div class="main-content">
    		<div class="content-item clear">
    			<div class = "avatar"><img src="../public/images/av1.png"><p>Y.S.</p></div>
    			<article class="content clear">
    				<p class = "title">Hey YOU</p>
    				<div class = "paragraph">
    					<p>Love makes your soul crawl out from its hiding place.Love makes your soul crawl out from its hiding place.Love makes your soul crawl out from its hiding place.</p>
    					<p>Love makes your soul crawl out from its hiding place.</p>
    					<p>Cheers<br>Vury</p>
    				</div>
    				<p class = "plus"></p>
    			</article>
    			<span class = "datetext">Today,12:23AM</span>
    		</div>
    		<div class="content-item clear">
    			<div class = "avatar"><img src="../public/images/av1.png"><p>YOU</p></div>
    			<article class="content clear">
    				<p class = "title">Hey Y.S.</p>
    				<div class = "paragraph">
    					<p>Love makes your soul crawl out from its hiding place.Love makes your soul crawl out from its hiding place.</p>
    					<p>Love makes your soul crawl out from its hiding place.</p>
    				</div>
    				<div class = "plus">
    					<p>
	    					<img src="../public/images/c1.png">
	    					<img src="../public/images/c2.png">
	    					<img src="../public/images/c3.png">
    					</p>
    					<i>15 MORE</i>
    					<p><a href="#">http://jilupian.youku.com/</a></p>
    				</div>
    			</article>
    			<span class = "datetext">Today,13:03AM</span>
    		</div>
    	</div>
    	<div class="new-message">
    		<img src="../public/images/av1.png">
    		<input type = "text" />
    	</div>
    </section>

    <section class="userinfo clear">
    	<div class="avatar">
    		<p>Yury Smirnov</p>
    		<p>Riga,Latvia</p>
    		<p><img src="../public/images/a2.png"><img src="../public/images/a3.png"></p>
    	</div>
    	<p>You can go you want to go.</p>
    	<div class="messagelist">
    		<div class="messageitem active">
    			<p>You can go you want to go.</p>
    			<i>2</i>
    		</div>
    		<div class="messageitem unread">
    			<p>You can go you want to go.</p>
    			<i>11</i>
    		</div>
    		<div class="messageitem unread">
    			<p>You can go you want to go.</p>
    			<i>31</i>
    		</div>
    		<div class="messageitem read">
    			<p>You can go you want to go.</p>
    			<i>22</i>
    		</div>
    		<div class="messageitem read">
    			<p>You can go you want to go.</p>
    			<i>13</i>
    		</div>
    	</div>
    	<div class="datepicker"></div>
    </section>
</body>

</html>
